@import 'null';


html{
    scroll-behavior: smooth;
}
.block_header{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 820px;
    text-align: center;
    @media(max-width:550px){
        font-size: 20px;
    }
}.block_small_header{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 650px;
    @media(max-width:550px){
        font-size: 16px;
    }
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}

body{
    background: #F5F5F5;
}

.header{
    width: 100%;
    background: #F5F5F5;
    position: fixed;
    &_opener{
        display: none;
        @media (max-width: 1050px) {
            display: block;
        }
    }
    &_container{
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        align-items: center;
    }
    &_logo{
        height: 50px;
    }
    &_links{
        display: flex;
        column-gap: 24px;
        &_pc{
            @media (max-width: 1050px) {
                display: none;
            }
        }
        a{
           font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    &_lang_order{
        display: flex;
        column-gap: 32px;
        &_pc{
            @media (max-width: 1050px) {
                display: none;
            }
        }
    }
    &_lang{
        display: flex;
        column-gap: 8px;
        align-items: center;
        &_name{
            font-size: 14px;
            font-weight: 700;
            overflow: hidden;
            width: 85px;
            text-align: right;
        }
        &_changer{
            overflow: hidden;
            width: 0px;
            height: 20px;
            display: flex;
            align-items: center;
            column-gap: 7px;
            a{
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    &_lang_opened{
        .header_lang_name{
            width: 0px;
        }
        .header_lang_changer{
            width: 85px;
        }
        .header_lang_arrow{
            transform: rotate(90deg);
        }
    }
    &_lang:hover{
        cursor: pointer;
    }
    &_order{
        border-radius: 100px;
        background: #545CE6;
        padding: 14px 44px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }
    &_order:hover{
        background: #7178EC;
        box-shadow: 0px 4px 40px 0px rgba(112, 119, 240, 0.50), 0px -4px 40px 0px rgba(112, 119, 240, 0.50);
    }
}

.usp{
    padding: 60px;
    display: flex;
    align-items: center;
    &_container{
        padding-top: 100px;
    }
    border-radius: 50px;
    background: #545CE7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    overflow: hidden;
    @media(max-width:550px){
        padding: 30px
    }    
    &_decor{
        @media(max-width:850px){
            display: none;
        }
    }
    &_decor_mob{
        display: none;
        @media(max-width:850px){
            display: block;
            margin-top: 20px;
            img{
                width: 100%;
            }
        }
    }
    &_header{
        font-size: 50px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        max-width: 580px;
        @media(max-width:550px){
            font-size: 30px;
        }
    }
    &_p{
        font-size: 24px;
        margin-top: 32px;
        font-weight: 400;
        color: white;
        max-width: 489px;
    }
    &_first_button{
        display: block;
        margin-top: 32px;
        border-radius: 100px;
        background: #FFF;
        padding: 14px 44px;
        color: #545CE6;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        @media(max-width:400px){
            padding: 14px 30px;
        }
    }
    &_first_button:hover{
        opacity: 1;
    box-shadow: 0px 4px 40px 0px rgba(112, 119, 240, 0.50), 0px -4px 40px 0px rgba(112, 119, 240, 0.50);
    }
    &_second_button:hover{
        opacity: 1;
        border: 2px solid #B1B5F9;
        background: #B1B5F9;
    }
    &_second_button{
        display: block;
        margin-top: 16px;
        border-radius: 100px;
        background: none;
        border: 1px solid white;
        padding: 14px 44px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        @media(max-width:400px){
            padding: 14px 30px;
        }
    }
}

.why_we{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width:550px){
        margin-top: 100px;
        padding: 0px 10px
    }
    &_elements{
        margin-top: 44px;
        display: flex;
        justify-content: center;
        column-gap: 50px;
        row-gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }
    &_element{
        width: 100%;
        max-width: 380px;
        display: flex;
        column-gap: 24px;
        align-items: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
}

.how_we{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width:550px){
        margin-top: 100px;
        padding: 0px 10px
    }
    &_elements{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 40px;
        margin-top: 44px;
    }
    &_element{
        width: 100%;
        max-width: 640px;
        background: white;
        border-radius: 50px;
        padding: 30px 50px;
        display: flex;
        @media(max-width:550px){
            border-radius: 20px;
            padding: 10px 20px;
        }
    }
    &_element:hover{
        background: #545CE7;
        .how_we_num, .how_we_content_header, .how_we_content_p, .how_we_content_dur{color: white;}
        
    }
    &_num{
        min-width: 50px;
        color: #545CE7;
        font-size: 24px;
        font-weight: 900;
    }
    &_content{
        &_header{
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &_p{
            margin-top: 16px;
            font-size: 18px;
            font-weight: 400;
        }
        &_dur{
            margin-top: 16px;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.check{
    margin-top: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width:550px){
        margin-top: 100px;
        padding: 0px 10px
    }
    &_wrapper{
        width: 100%;
        max-width: 650px;
        margin-top: 44px;
    }
    &_label{
        margin-top: 24px;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
    }
    &_select{
        width: 100%;
        margin-top: 8px;
        &_view{
            width: 100%;
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid #A7A7A7;
            display: flex;
            justify-content: space-between;
            &_text{
                color: #A7A7A7;
                font-size: 18px;
                font-weight: 400;
            }
            &_elements{
                width: 100%;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid #A7A7A7;
                display: flex;
                flex-wrap: wrap;
                row-gap: 2px;
                margin-top: 8px;
            }
            &_element{
                width: 100%;
            }
            &_element:hover{
                cursor: pointer;
                padding-left: 10px;
            }
        }
        &_view:hover{
            cursor: pointer;
            .check_select_view_arrow{
                transform: rotate(90deg);
            }
            .check_select_view_text{
                padding-left: 10px;
            }
        }
        &_opened{
            .check_select_view_arrow{
                transform: rotate(180deg);
            }
        }
    }
    &_input{
        width: 100%;
        padding: 15px 20px;
        border-radius: 10px;
        border: 1px solid #A7A7A7;
        background: none;
        margin-top: 8px;
    }
    &_btn{
        margin-top: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: white;
        padding: 14px 44px;
        border-radius: 100px;
        background: #545CE6;
    }
}
.check_select{
    .check_select_view_elements{
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        padding: 0px 20px;
        transition: 400ms ease-in-out;
        border: 1px solid #fff0;
    }
}
.check_select_opened{
    .check_select_view_elements{
        grid-template-rows: 1fr;
        padding: 15px 20px;
        border: 1px solid #A7A7A7;
    }
}
.delimeter{
    width: 100%;
}

.black{
    color: black;
}

.faq{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width:550px){
        margin-top: 100px;
    }
    &_question{
        padding: 24px;
        border-bottom: 1px solid black;
        max-width: 800px;
        &_header{
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_text{
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                @media(max-width:550px){
                    font-size: 18px;
                }
            }
        }
        &_content{
            margin-top: 0px;
            font-size: 18px;
            font-weight: 400;
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: 400ms ease-in-out;
        }
        .plus{
            display: block;
        }
        .minus{
            display: none;
        }
    }
    &_question_show{
        .faq_question_content{
            margin-top: 24px;
            grid-template-rows: 1fr;
        }
        .plus{
            display: none;
        }
        .minus{
            display: block;
        }
        
    }
    &_question:hover{
        cursor: pointer;
        img{
            transform: scale(1.2);
        }
    }
}

.footer{
    margin-top: 160px;
    padding: 0px 5%;
    @media(max-width:550px){
        margin-top: 100px;
    }
    &_wrapper{
        padding: 50px 10%;
        border-radius: 50px 50px 0px 0px;
        background: #545CE7;
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        
    }
    &_line{
        @media (max-width: 500px) {
            flex-wrap: wrap;
            row-gap: 32px;
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_links{
        display: flex;
        column-gap: 20px;
        align-items: center;
        @media (max-width: 1100px) {
            display: none;
        }
        a{
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: white;
        }
    }
    &_contact{
        display: flex;
        column-gap: 8px;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 400;
        
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    &_privacy{
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
}

.mobile_menu{
    position: fixed;
    top:0;
    left:-200vh;
    width: 100vw;
    height: 100vh;
    background: #0000;
    transition: background 500ms 200ms, left 500ms;
    z-index: 2;
    &_inner{
        width: 78vw;
        height: 100vh;
        background: #F5F5F5;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 30px;
        &_nav{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            a{
                display: block;
                width: 100%;
                font-size: 24px;
            }
        }
    }
    &_closer{
        position: fixed;
        top:2vh;
        right:200vw;
        transition: 1s;
        transition: right 500ms;

        img{
            width: 10vw;
            height: 50px;
        }
    }
}   
.mobile_menu_opened{
    left:0;
    background: #000a;
    .mobile_menu_closer{
        right:2vw;
    }
}   

.modal_success{
    position: fixed;
    z-index: 3;
    left: -200vw;
    top: 0px;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: left .5s ease-out;
    &_inner{
        width: 100%;
        max-width: 700px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content:  center;
        row-gap: 20px;
        flex-wrap: wrap;
        background: white;
        border-radius: 50px;
        padding: 20px
    }
    &_header{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
    &_info{
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        text-align: center;
    }
}

.modal_success_show{
    left: 0px;
}

.not_valid{
    border: 1px solid red;
}
